ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dl {
    margin-bottom: 0.75em;
}

dl dt {
    font-weight: 600;
    margin-top: 0.75em;
}

dl dd {
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 0.75em 0;
    table-layout: fixed;
    width: 100%;
}

th {
    border-bottom: 1px solid #a6a6a6;
    font-weight: 600;
    padding: 0.75em 0;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 0.75em 0;
}

tr,
td,
th {
    vertical-align: middle;
}

body {
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.75em;
}

p {
    margin: 0 0 0.75em;
}

a {
    color: #1565c0;
    text-decoration: none;
    transition: color 150ms ease;
}

a:active,
a:focus,
a:hover {
    color: #104c90;
}

hr {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5em 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: lightblue;
}

.purple {
    color: purple;
}

.pink {
    color: pink;
}

/* 
  * Default overrides
  * Should probably put these in their
  * own file
  */
i {
    font-size: 1em !important;
}

p {
    font-weight: 300;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

hr {
    margin: 2.5em 0;
    height: 2px;
    background: url(rainbow.gif) no-repeat;
    background-size: cover;
}

section {
    margin-bottom: 4em;
}

body {
    margin: 5em 10%;
}

@media screen and (max-width: 600px) {
    body {
        margin: 1em;
    }
}

nav {
    padding: 0;
    margin-bottom: 4em;
}

nav a {
    color: white;
    padding-right: 4em;
}

nav ul {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.8em 0;
}

nav li {
    font-size: 1.2em;
}

.header {
    margin: 0;
    padding-bottom: 1em;
}

.name {
    background-color: #333;
    color: white;
    padding-left: 0.6em;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .name {
        max-width: 40em;
        width: auto;
    }
}

.name h1 {
    margin: 0;
    padding: 0;
}

.name h4 {
    color: white;
    font-weight: lighter;
    margin-right: 0.6em;
    padding-bottom: 0.2em;
    display: inline-block;
}

.name div {
    display: inline-block;
}

.name div a {
    font-size: 1.4em;
    color: gray
}

.project {
    margin-left: 0.9em;
}

.project h4 {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 0.4em;
}

.project i {
    font-size: 0.8em;
}

.project p {
    margin-top: 0.4em;
    font-size: 1.4em;
}

.project ul {
    display: inline-block;
    margin-left: 1.2em;
    position: relative;
    bottom: 0.4em;
}

.project ul li {
    background-color: #333;
    color: white;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0 0.2em 0 0.2em;
}

/*# sourceMappingURL=main.css.map */